{
  "env": {
    "AWS_PROFILE": "__AWS_PROFILE__"
  },
  "modelOverrides": {
    "claude-opus-4-6": "__MODEL_OVERRIDE_OPUS_4_6__",
    "claude-opus-4-7": "__MODEL_OVERRIDE_OPUS_4_7__",
    "claude-opus-5-5": "__MODEL_OVERRIDE_OPUS_5_5__"
  }
}
